/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');

/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato' sans-serif;
}

body{
    background-color: #f1f1f1;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5rem;
}

img{
    max-width: 100%;
}

/* Header & Nav */
.header-top{
    background-color: #0F2658;
    border-bottom: 1px solid black;
    padding-block: 0.875rem;
}
.header-top-container{
    max-width: 1320px;
    margin-inline: auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-contact span:first-child{
    margin-right: 1rem;
}
.header-top-action i{
    position: relative;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #fff;
}
.header-contact span,
.header-motto,
.header-top-action{
    font-size: 0.85rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
}
.nav,
.nav-menu,
.nav-list,
.header-user-actions{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding-left: 12px;
}
.nav{
    background-color: #f1f1f1;
    justify-content: space-between;
    column-gap: 2rem;
    padding: 0.8rem;
}
.nav-logo h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FD5F5F; 
    display: inline; 
    margin-left: 5rem
}
.nav-logo h2 span {
    color: red; 
    letter-spacing: 1px;
}

.nav-menu{
    width: 100%;
    margin-left: 2.5rem;
}
.nav-list{
    margin-right: auto;
    column-gap: 2.5rem;
}
.nav-link{
    color: #0F2658;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.9px;
    transition: all 0.2s;
}
.header-search{
    position: relative;
    display: flex;
    align-items: center;
}
.header-search i{
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.form-input{
    border: 1px solid black;
    padding: 10px 35px 10px 15px;
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: 12px;
    letter-spacing: 1px;
    width: 250px;
}
.header-search .form-input{
    border: 1px solid black;
}
.active-link,
.nav-link:hover{
    color: #FD5F5F;
}
.header-user-actions a i{
    font-size: 24px;
    padding: 0.5rem;
}
.header-action-btn{
    position: relative;
    display: inline-block;  
}
.header-action-btn .count{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); 
    color: #0F2658;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    min-width: 18px;
    text-align: center;
    line-height: 1;
}
.header-menu{
    margin-left: 1rem;
}
.header-menu i{
    font-size: 1.5rem;
    cursor: pointer;
}

/* Home Page */
.home-container {
    display: flex; /* Enables flexbox */
    align-items: center; /* Aligns content and image vertically */
    justify-content: space-between; /* Ensures spacing between content and image */
    margin-top: 100px;
    margin-left: 100px;
    max-width: 1200px;
    margin-bottom: 200px;
}
.home-content {
    flex: 1; /* Takes up available space on the left */
    max-width: 50%; /* Restricts width of text */
    margin-left: 100px;
}
.home-subtitle{
    font-weight: 400;
    margin-bottom: 1.5rem;
    display: block;
    color: black;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}
.home-description{
    font-family: 'League Spartan', sans-serif;
    color: gray;
    margin-block: .5rem 2rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.home-title{
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    color: #0F2658;
    letter-spacing: 1px;
}
.home-title span{
    display: block;
    color: #143F9A;
    font-size: 3rem;
    letter-spacing: 1px;
}
.home-img{
    flex: 1;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}
.btn{
    display: inline-block;
    background-color: #0F2658;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: .25rem;
    letter-spacing: 1.2px;
    border: 1px solid #0F2658;
}
.btn:hover{
    background-color: transparent;
    color: #0F2658;
}

/* Categories*/
.categories-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.section-title {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #0F2658;
    text-align: center;
    margin-top: 5rem; /* Increased distance from navbar */
    margin-bottom: 4rem; /* Increased distance from images */
    letter-spacing: 1px;
}
.section-title span{
    color: #143F9A;
}
.category-item {
    cursor: pointer;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 220px;
}
.category-item:hover {
    transform: scale(1.01);
}
.category-image-container {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.category-img {
    max-width: 100%;
    max-height: 100%;
}
.category-title{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.9px;
    margin-top: 15px;
}
/* Account Sidebar Styles */
.account-sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Hidden off-canvas by default */
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
}
.account-sidebar.open {
right: 0;
}
.account-sidebar .sidebar-content {
position: relative;
}
.close-sidebar {
font-size: 24px;
cursor: pointer;
position: absolute;
right: 10px;
top: 10px;
}
.logout-btn {
margin-top: 20px;
padding: 10px 20px;
background-color: #0F2658;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

/* Products */
.tab-btns{
    display: flex;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
}
.tab-btn{
    background-color: #0F2658;
    color: #fff;
    padding: 1rem 1.25rem 0.875rem;
    border-radius: 0.25rem;
    border: 1px solid #0F2658;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.tab-btn.active-tab{
    color: #0F2658;
    background-color: #fff;
}
.tab-items {
    width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 25px; /* Adjust spacing */
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}
.product-item {
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.product-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px; /* Set a fixed height */
    overflow: hidden;
}
.product-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}
.product-category {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.product-price {
    font-size: 14px;
    color: #0F2658;
    font-weight: bold;
}
.product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.tab-item:not(.active-tab){
    display: none;
}

/* Chats Page */
.chat-container {
    display: flex;
    width: 80%;
    height: 85vh;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 100px auto;
}

.chat-sidebar {
    width: 30%;
    background: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.chat-sidebar h3 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
}

.chat-listing {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    justify-content: space-between;
}
.chat-listing.active {
    background: #f1f1f1;
}
.chat-listing:hover {
    background: #f9f9f9;
}

.chat-listing img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-details {
    flex: 1;
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.chat-details span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.9px;
}
.chat-details .price {
    font-size: 14px;
    color: gray;
    margin-top: 3px;
    letter-spacing: 0.9px;
}
.listing-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.chat-heading,
.chat-header {
    background: #0F2658;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.chat-header span{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
}

.chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.listing-details {
    display: flex;
    align-items: center;
    flex: 1;
}
.listing-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.user-info img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.listing-info {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
.user-info img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.listing-info img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.make-offer-btn {
    background: #FD5F5F;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
    letter-spacing: 0.9px;
}

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #fff;
}
.chat-messages p{
    letter-spacing: 0.9px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #eee;
    width: 100%;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

#send-message {
    color: #0F2658;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.message {
margin: 10px 0;
max-width: 35%;
padding: 10px;
border-radius: 10px;
position: relative;
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.my-message {
background-color: #acc1ed;
align-self: flex-end;
margin-left: auto;
}
.other-message {
background-color: #ffffff;
border: 1px solid #ccc;
align-self: flex-start;
margin-right: auto;
}
.message .sender {
font-weight: bold;
margin-bottom: 5px;
}
.message .content {
word-wrap: break-word;
}